flows.json
[
    {
        "id": "1b62166c36ce78ee",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65654460e9990219",
        "type": "tab",
        "label": "Fluxo 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b43cd5e2a20ea514",
        "type": "group",
        "z": "1b62166c36ce78ee",
        "name": "debugger",
        "style": {
            "label": true
        },
        "nodes": [
            "4fc9832332ce51e5",
            "aa497e5ea961de60",
            "0bfeadab04154871"
        ],
        "x": 74,
        "y": 419,
        "w": 712,
        "h": 82
    },
    {
        "id": "0718ebdc7dcb2ebf",
        "type": "group",
        "z": "1b62166c36ce78ee",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [],
        "x": null,
        "y": null,
        "w": 40,
        "h": 40
    },
    {
        "id": "98ad62b6bc059c0a",
        "type": "mongodb3",
        "uri": "mongodb://mongodb:27017/psatosql",
        "name": "psatosql-local",
        "options": "",
        "parallelism": "-1"
    },
    {
        "id": "a30465ae471b4ada",
        "type": "http in",
        "z": "1b62166c36ce78ee",
        "g": "948125a81607b89d",
        "name": "",
        "url": "/api/entitynames",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "65571f743653a5ce"
            ]
        ]
    },
    {
        "id": "c3101d0ff2ef0cdd",
        "type": "http response",
        "z": "1b62166c36ce78ee",
        "g": "948125a81607b89d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "4fc9832332ce51e5",
        "type": "inject",
        "z": "1b62166c36ce78ee",
        "g": "b43cd5e2a20ea514",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "aa497e5ea961de60"
            ]
        ]
    },
    {
        "id": "aa497e5ea961de60",
        "type": "http request",
        "z": "1b62166c36ce78ee",
        "g": "b43cd5e2a20ea514",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/api/entitynames",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Bearer token teste"
            }
        ],
        "x": 390,
        "y": 460,
        "wires": [
            [
                "0bfeadab04154871"
            ]
        ]
    },
    {
        "id": "0bfeadab04154871",
        "type": "debug",
        "z": "1b62166c36ce78ee",
        "g": "b43cd5e2a20ea514",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 460,
        "wires": []
    },
    {
        "id": "65571f743653a5ce",
        "type": "function",
        "z": "1b62166c36ce78ee",
        "g": "948125a81607b89d",
        "name": "authorization",
        "func": "let statusCode = 200;\n\nif (!msg.req.headers.authorization) {\n    msg.payload = { message: \"Cabeçalho de autorização ausente\" };\n    statusCode = 401;\n}\n\nmsg.statusCode = statusCode;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "588cf82879f5ba21"
            ]
        ],
        "info": "# "
    },
    {
        "id": "d6c7c5eef9eade82",
        "type": "mongodb3 in",
        "z": "1b62166c36ce78ee",
        "g": "948125a81607b89d",
        "service": "_ext_",
        "configNode": "98ad62b6bc059c0a",
        "name": "mongodb",
        "collection": "entitynames",
        "operation": "find.toArray",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "c3101d0ff2ef0cdd"
            ]
        ]
    },
    {
        "id": "588cf82879f5ba21",
        "type": "switch",
        "z": "1b62166c36ce78ee",
        "g": "948125a81607b89d",
        "name": "Condition 200 or 401",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "401",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "d6c7c5eef9eade82"
            ],
            [
                "b910498170fcf4fa"
            ]
        ]
    },
    {
        "id": "b910498170fcf4fa",
        "type": "json",
        "z": "1b62166c36ce78ee",
        "g": "948125a81607b89d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "c3101d0ff2ef0cdd"
            ]
        ]
    }
]